<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta http-equiv="refresh" content="4; URL=/start?testInfo=<%= testInfo %>">

        <link rel="stylesheet" type="text/css" href="/public/stylesheets/global.css">
        <link rel="stylesheet" type="text/css" href="/public/stylesheets/store.css">

        <title>Cactusbooks - POC</title>
    </head>
    <body>
        <div>
            <span class="loader"></span>
            <p>Please wait while we load all of the test details<br>into our testing administrator!</p>
        </div>
    </body>
</html>